body{
	font: 15px/1.5 Arial, Helvetica, sans-serif;
	background-color:#4D5359;
}

div.jumbotron.jumbotron-fluid.text-center {
	padding: 0px;
	padding-top: 55px;
}

h3{
	font: 35px Arial, Helvetica, sans-serif;
	color:#C0D6DF;
	margin-top:30px;
  text-align: center;
}

div.status {
  margin-left: 50px;
  margin-right: 50px;
}

form{
	width: 500px;
	height: 200px;
	margin: 30px auto;
	text-align: center;
	position: relative;
	background: #DDDFDF;
	border-radius: 15px;
	border: 3px solid black;
	padding: 40px 40px;
	box-sizing: borde
}

label {
	color: black;
}

form#form{
	width: 500px;
	height: 450px;
	margin: 30px auto;
	text-align: center;
	position: relative;
	background: #DDDFDF;
	border-radius: 15px;
	border: 3px solid black;
	padding: 40px 40px;
	box-sizing: border-box;
}

input#username {
	color: black;
}

input#password {
	color: black;
}

p{
	font:18px Arial, Helvetica, sans-serif;
	color: blue;
	padding: 0px;
}

a.btn.btn-default.navbar-btn {
	border: 0px;
	margin: 0px;
	color: black;
}

.rata-tengah {
	margin-top: 80px;
}

div.judul {
	margin-left: 50px;
}
h1 {
	color: white;
}
@media only screen and (max-width: 768px) {
  .status {
    width: 290px;
  }
	#update-list form{
		width: 290px;
	}
	#popupBoxPosition form{
		width: 290px;
	}
}

.main-title{
	-webkit-animation: colorchange 1s infinite;
	-webkit-animation-direction: alternate;
	text-align: center;
}

.status{
  background-color: #DDDFDF;
  border: 3px solid black;
	border-radius: 20px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  margin-top: 10px;
	height: auto;
}

.status .delete{
	border: 2px solid black;
	border-radius: 10px;
  float:right;
	margin: 0px auto;
}

@-webkit-keyframes colorchange {
    0% {
        -webkit-text-stroke: 5px #21618C;
    letter-spacing: 0;
    }
	  50% {
	    -webkit-text-stroke: 7.5px black;
	  }
    100% {
        -webkit-text-stroke: 10px #C0BDBD;
    letter-spacing: 18px;
    }
}

#form{
	text-align: center;
  font: 20px Arial, Helvetica, sans-serif;
  margin: 50px auto;
}

#submit {
  background-color: #FF5333;
  float: none;
}

#update-forum{
	width: 700px;
	margin: 20px auto;
	position: relative;
	text-align: left;
}

#update-list form > .update-form-input, #update-list form > .update-form-textarea{
  	padding: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    color: #2C3E50;
    font-size: 13px;
}
