<style>

.copyright { min-height:40px; background-color:#000000;}
.copyright p { text-align:left; color:#FFF; padding:10px 0; margin-bottom:0px;}

</style>

<div class="copyright">
  <div class="container">
    <div class="col-md-6">
      <p>&copy; 2017 - Team 2D</p>
    </div>
  </div>
</div>
