{% extends "app_profile/layout/base.html" %}
{% block title %} LingIn: {{ name }} {% endblock %}
{% block content %}

<img src="https://image.ibb.co/mcPYSw/02_budawest_2015_okt_012_rs_2.jpg" style="border-radius: 50%; display: block; margin: 0 auto" width="200px" height="200px">
<div>
  <h1 id="companyName" align="center" style="font-weight: bold; font-family: Open Sans"><a href="/halaman-profile/edit_profile"><i class="fa fa-cog" aria-hidden="true"></i>
</a></h1>
</div>
<p id="about" align="center" style="font-weight: bold; font-family: Open Sans; font-size: 17px; word-wrap: break-word;"></p>
<hr/>
<section align="center" style="height: auto;">
    <div class="container" >
        <a href="/forum/" class="btn btn-primary">Lihat Forum</a>
        <a class="btn btn-primary">Cari Mahasiswa</a>
    </div>
</section>    

<section name="bio">
    <div class="row" style="margin-top: 15px; font-family: Open Sans">
        <h5 class="col-sm-4"></h5>
        <h5 class="col-sm-2" style=""><b>Tipe Perusahaan</b></h5>
        <h5 id="companyType" class="col-sm-5"></h5>
    </div>
    <div class="row" style="font-family: Open Sans">
        <h5 class="col-sm-4"></h5>
        <h5 class="col-sm-2"><b>Web Perusahaan</b></h5>
        <h5 id="companyWeb" class="col-sm-5"></h5>
    </div>
    <div class="row" style="font-family: Open Sans">
        <h5 class="col-sm-4"></h5>
        <h5 class="col-sm-2"><b>Spesialitas</b></h5>
        <h5 id="companySpecialty" class="col-sm-5"></h5>
    </div>
    <!-- <div class="row" style="font-family: Open Sans">
        <h5 class="col-sm-4"></h5>
        <h5 class="col-sm-2"><b>Email</b></h5>
        <h5 class="col-sm-5">{{ default.email }}</h5>
    </div> -->
</section>
<br>
<br>

{% endblock %}
