{% extends "forum/layout/base.html" %}

{% load staticfiles %}
{% load static %}

{% block header %}
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
    </div>
    <div align="center">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/profile/">Profile</a></li>
        <li class="active"><a href="forum">Forum</a></li>
        <li><a href="{% url 'forum:auth_logout' %}" class="btn btn-default navbar-btn" onclick="return confirm('Processing Logout?')"><img src="https://png.icons8.com/exit/androidL/50/000000" style="width: 25px;height 25px">Logout </a></li>
    </div><!--/.nav-collapse -->
  </div>
</div>

<div class="container-fluid big-logo-row">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 big-logo-container">
        <h1 class="big-logo">LingIn</h1>
      </div><!--/.col-xs-12 -->
    </div><!--/.row -->
  </div><!--/.container -->
</div><!--/.container-fluid -->
{% endblock %}

{% block content %}
<div class="jumbotron jumbotron-fluid text-center" style="margin-bottom: 0px; margin-top: 0px; background-color: #F1F7ED">
  <div class="container">
    <h1 class="display-3" style="font-family: Impact;">Forum Diskusi Lowongan</h1>
    <h4 class="lead" style="fontfamily: Impact">Join and Be Our Team</h4>
  </div>
</div>

{% if message_list %}
{% for data in message_list %}
  <section name="update-forum" id="update-forum">
      <div class = "status">
          <div class="row">
              <div class="col-sm-12 col-sm-offset-0">
                <div class="media" style="padding: 15px">
                  <div class="media-body">
                      <strong>{{data.title}}</strong>
                      <div class="delete" data-id="{{data.id}}">
                        <a href="{% url 'forum:clear' object_id=data.id %}"><img src="https://png.icons8.com/trash/win8/50/000000" style="width: 25px;height 25px; top: 10px;"></a>
                      </div>
                      <h6>Posted on {{data.created_date}}</h6>
                      <p>{{data.message}}</p>
                  </div>
                </section>
                  </div>
                </div>
              </div>
{% endfor %}
{% else %}
    <button type="submit" class="btn btn-primary btn-lg btn-block no-friend">You have no discussion.</button>
{% endif %}

{% if message_list.has_other_pages %}
  <div class="text-center">
    <ul class="pagination">
        {% if message_list.has_previous %}
            <li><a href="?page={{ message_list.previous_page_number }}">&laquo;</a></li>
        {% else %}
            <li class="disabled"><span>&laquo;</span></li>
        {% endif %}

        {% for i in message_list.paginator.page_range %}
            {% if message_list.number == i %}
                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
            {% else %}
                <li><a href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}
        {% if message_list.has_next %}
              <li><a href="?page={{ message_list.next_page_number }}">&raquo;</a></li>
        {% else %}
              <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
    </ul>
  </div>
{% endif %}

<section name="form">
    <h3>Tambah Lowongan</h3>
    <form id="form" method="POST" action="{% url 'forum:add_message' id %}">
        {% csrf_token %}
        {{ message_form }}
        <br>
        <button type="submit" class="btn btn-primary">Post</button>
    </form>
</section>
{% endblock %}
