{% load staticfiles %}
{% load static %}
<!DOCTYPE html>



<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Forum">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'css/forum.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet">
    <!-- bootstrap css -->

    <title>
        {% block title %} Forum Perusahaan by Kenny {% endblock %}
    </title>
</head>

<body>
    <header>
      {% block header %}
      {% endblock %}
    </header>
    <content>
            {% block content %}

            {% endblock %}
    </content>
    <footer>
        <!-- TODO Block Footer dan include footer.html -->
        {% block footer %}
        {% include "forum/partials/footer.html" %}
        {% endblock %}
    </footer>

    <!-- Jquery n Bootstrap Script -->
    <script></script>

</body>
</html>
